<!--<nav mat-tab-nav-bar mat-align-tabs="center">
  <a mat-tab-link *ngFor="let item of tabs" [routerLink]="item.route" routerLinkActive #rl = "routerLinkActive"
     [active] = "rl.isActive">
    <span>{{item.label}}</span>
  </a>
</nav>
<router-outlet></router-outlet>-->


<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div>
      <a mat-button *ngFor="let item of tabs" [routerLink]="item.route">
        <span>{{item.label}}</span>
      </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
