<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div *ngIf="token$ | async; else external">
      <a mat-button *ngFor="let item of internalTabs" [routerLink]="item.route">
        <span>{{item.label}}</span>
      </a>
      <span class="flexExpand"></span>
      <a mat-button [routerLink]="'/logout'">
        <span>Log out</span>
      </a>
    </div>
    <ng-template #external>
      <span class="flexExpand"></span>
      <a mat-button *ngFor="let item of externalTabs" [routerLink]="item.route">
        <span>{{item.label}}</span>
      </a>
    </ng-template>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
